*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.conteiner{
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  background-image: url('../img/bg.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.header{
  padding-top: 46px;
  display: flex;
  align-items: center;
  margin-bottom: 240px;
}

.menu ul {
  display: flex;
  padding-top: 35px;
  padding-left: 35px;
}
  
.menu li+li {
   margin-left: 25px; 
}

.menu a {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
}

.item {
  text-align: left;
  color: #fff;
}
 
.title {
  font-weight: 400;
    font-size: 120px;
    line-height: 141px;
}

.text {
  font-size: 36px;
  line-height: 42px;
  width: 674px;
  margin-bottom: 46px;
} 

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: left;
}

.slick-dots li+li {
  margin-left: 20px;

} 

.slick-dots button {
  font-size: 0;
  border: none;
   padding: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%; 
} 