.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.title-1{
  font-size: 50px;
  margin: 25px 0 50px;

}

.title-1:hover{
color: aqua;
}

.title-1::before{
  content: 'vrgr';
}

.title-1::after {
  content: 'vrgrgrgeget';
}

.text1 {
  font-size: 18px;
  background-color: #ccc;

  margin: 0px 50px;

  border: 3px solid #000;

}

.text2 {
  font-size: 20px;
  background-color: #ccc;
}

.images-1 {
  transition: all 1s ease 1s;
}

.images-1:hover{
  transform: translateY(-100px);
}

.text3 {
 font-style: italic;
}

.text4 {
text-align:right;
font-size: 14px;
}
